.sendBtn {
    margin-top: 14px;
    
}

::ng-deep .p-button {
    background-color: #1089be !important;
    border-color: #1089be !important;
}

.textArea {
    width: -webkit-fill-available !important;
    height: 70px !important;
}

.body {
    // border: 1px solid lightgray;
    // // height: 100%;
    // height: 305px;
    // max-height: 150%;
    // overflow-y: scroll;
    // margin-left: 13px;
    // margin-top: -17px;
    // border-radius: 8px;

    border: 1px solid lightgray;
    height: 357px;
    max-height: 150%;
    overflow-y: scroll;
    margin-left: 13px;
    margin-top: -17px;
    border-radius: 8px;
}