::ng-deep .p-menu{
    z-index: 1001 !important;
    transform-origin: center top !important;
    top: 72px !important;
    left: 328px !important;
}

::ng-deep .layout-topbar {
    position: inherit !important;
    margin-bottom: -60px !important;
}

::ng-deep .p-dropdown {
    width: -webkit-fill-available !important;
}

::ng-deep .p-inputtext {
    width: -webkit-fill-available !important;
}

::ng-deep .p-fileupload{
    margin: 0 2px !important;
}
.font-size{
    font-size: 12px;
}

.table{
    border: 1px solid #e7e0e0;
    margin: 0 15px;
    padding-bottom: 15px;
    border-radius: 7px;

    .header{
        background-color: #1089bec9;

        color: #fff;
        border-radius: 7px 7px 0 0;
    }
}
::ng-deep .p-dialog .p-dialog-header { 
    padding: 10px 24px !important;
    color: white;
    background: #1089be;
}

.view-card{
    padding: 0 10px !important;
}

// .row-1{
//     margin: -10px;
// }

::ng-deep .p-editor-content{
    min-height: 250px !important;
    max-height: 100% !important;
    border-radius: unset !important;
    height: 100%;
    border-bottom: none !important;
}

::ng-deep .p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.75rem !important;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}


::ng-deep .p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0.5rem 0.65625rem !important;
}

::ng-deep.p-button {
    color: #ffffff;
    background: #3B82F6;
    border: 1px solid #3B82F6;
    padding: 0.4rem 1.25rem !important;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

::ng-deep.p-fileupload .p-fileupload-buttonbar {
    background: #f8f9fa;
    padding: 0.4rem !important;
    border: 1px solid #dee2e6;
    color: #343a40;
    border-bottom: 0 none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

::ng-deep .p-fileupload .p-fileupload-row > div {
    padding: 0rem 1rem !important;
}

::ng-deep .p-fileupload .p-fileupload-content {
    background: #ffffff;
    padding: 1rem 1rem !important;
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
::ng-deep .p-button{
    background-color: #1089be !important;
    border-color: #1089be !important;
    color: #fff !important;
 }
 ::ng-deep .p-button:hover{
    background-color: #3B82F6 !important;
    border-color: #3B82F6 !important;
    color: #fff !important;
 }
 ::ng-deep p-paginator p-dropdown {
    width: 10% !important;
}
.isMobileView{
    display: none;
}
.isMobileViewNot{
    display: flex;
}
.newTableCss > th {
    white-space: pre !important;
    min-width: 125px !important;
    background: #4db2dfc2;
    // color: #fff;
    font-size: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.newTableCss > td {
    padding: 1px 1rem !important;
    min-width: 125px !important;
    padding: 9px !important;
    font-size: 11px;
    max-width: 174px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
::ng-deep .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    // background: linear-gradient(90deg, rgba(88,79,236,1) 0%, rgba(124,124,176,1) 42%, rgba(66,134,147,1) 100%) !important;
    color: #000 !important;
    background: linear-gradient(90deg, rgba(195,204,205,1) 0%, rgba(187,187,224,1) 42%, rgba(195,215,219,1) 100%);
}
::ng-deep tr:nth-child(even){
    background: #eaeaea !important;
}
::ng-deep .p-datatable .p-datatable-header {
    padding: 2px 1rem !important;
}
@media(max-width:901px){
    .isMobileView{
        display: block;
    }
    .isMobileViewNot{
        display: none;
    }
    .addTableNewCss{
        display: block;
      }
}