<div class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none
    hover:surface-hover transition-colors transition-duration-150"
     tabindex="0">
    <div class="flex align-items-center">
        <div class="relative md:mr-3">
            <img src="assets/demo/images/avatar/profile.jpg" alt="user" class="w-3rem h-3rem border-circle shadow-4">
            
        </div>
        <div class="flex-column hidden md:flex">
         
            <span class="text-900 font-semibold block" >9582062028</span>
        </div>
    </div>
    <span class="text-700 font-semibold ml-auto hidden md:inline">Now</span>
</div>